* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    /* background-color: #1E0555; */
}

.quote-display {
    margin: 50px auto;
    text-align: center;
    font-size: 2rem;
    max-width: 700px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.extra {
    color: #ffbf00;
}