{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
{% endblock %}

{% block content %} 
<div class="container-md" id="quotebox">
    <div class="quote-display d-flex flex-wrap" id="quoteDisplay"></div>
</div>

<script source="website\static\index.js"></script>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const words = `{{ sentence|safe }}` //safe stops characters being escaped, the backticks are needed because the 
  // the list `sentence` contains "
  renderSentence(words) // renderSentence is a function that takes the string literal, and converts it into elements 
  let wordsArr = JSON.parse(words); // converts the string into javascript object
  let wordsDict = wordsArr.map(x => ({word: x, wordTime: null, incorrectWord: null, letters: new Array(x.length)})) 
  /* converts the array of words into an array of dictionaries, creating location to store the times
  that the user generates */
  let isStart = true
  let backspaceFlag = false
  let charnum = 0 // used to keep track of what letter the user is on
  let newKeystrokeTime 
  let OldKeystrokeTime
  let wordTimeStart
  let wordTimeEnd 
  let backstop = 0
  window.addEventListener('keydown', (event) => { // The user interacts with the page via keybaord events
    console.log(document.querySelector(`span[data-char-num="${charnum}"]`))
    let charCode = event.key.charCodeAt(); // Gets the unicode reference number for the key
    let currentSpan = document.querySelector(`span[data-char-num="${charnum}"]`) // Gets the element that contains the current letter being worked on
    let whichWord = currentSpan.parentElement.getAttribute("data-word-num") // Gets the word number
    console.log(whichWord)
    console.log(wordsDict.length-1)
    let whichLetter = currentSpan.getAttribute("word-char-num") // gets the index of the letter within its word
    let currentCharinSpan = currentSpan.innerText // gets the letter as a character
    // stores the element that is the character which has been typed
    // as a variable
    if (event.key.length === 1 && (charCode >= 65 && charCode  <= 90) || (charCode >= 97 && charCode <= 122)) {  // makes sure the key pressed is a letter
      // key length has to be one because the key "alt" has the same charcode as "a", the charcode values filter for letters  
      if (charnum !== 0) { 
        /* This records the time taken between the current keypress and the previous one,
        only applicable for 2nd letter onwards, */
        newKeystrokeTime = new Date().getTime()
        keystrokeTimeDifference = newKeystrokeTime - OldKeystrokeTime 
        OldKeystrokeTime = newKeystrokeTime
      } else {
        OldKeystrokeTime = new Date().getTime() // for the first letter in the sentence, only the time when pressed is recorded
      }
      
      // changes the colour of the character to reflect whether it was 
      // typed correctly
      if (event.key === currentCharinSpan) {
      currentSpan.classList.add("correct")
      currentSpan.classList.remove("incorrect")
        if ((!(backspaceFlag)) && charnum !== 0 ) {wordsDict[whichWord].letters[whichLetter] = keystrokeTimeDifference}  // Doesn't store letter time after backspace, because timing will be wrong
      } else if (event.key !== currentCharinSpan) {
      currentSpan.classList.add("incorrect")
      currentSpan.classList.remove("correct")
      } 
      if (whichLetter == 0) {
        wordTimeStart = new Date().getTime() // starts the word timing
        if (backspaceFlag) {
          for (let i = 0; i < ((wordsDict[whichWord].letters.length)-1); i++) { 
            /* Restarting words is allowed, clears the
            letter times but not the word times */ 
            wordsDict[whichWord].letters[i] = null
          }
        }
      } 
      backspaceFlag = false 
      spaceFlag = false
      isStart=false
      charnum++ 
    } 

    if (event.key==="Backspace") {   
      backspaceFlag = true
      if (charnum > backstop) { //unless its the first letter, or a completed word, move the "caret" back one place
        charnum = charnum-1
      }

      currentSpan = document.querySelector(`span[data-char-num="${charnum}"]`)  // moves the caret back 
      console.log(charnum)
      currentSpan.classList.remove("correct");
      currentSpan.classList.remove("incorrect");

    } else if (event.key==="Backspace" && event.ctrlKey === True){

    }
    
    
    if (event.key===" ") {  
      spaceFlag = true 
      console.log(document.querySelector(`span[data-char-num="${charnum}"]`))
      if (currentSpan.getAttribute("is-space")) { 
        // If the word is finished, and space is on the right place
        OldKeystrokeTime = new Date().getTime()
        let wordTimeEnd = new Date().getTime()
        let wordTime = wordTimeEnd - wordTimeStart
        wordsDict[whichWord].wordTime = wordTime
        console.log(wordsDict)
        backstop = charnum+1
        if ((document.querySelector(`span[data-char-num="${charnum}"]`)) != (null)) {
          charnum++
        }
          
      } else if (!(currentSpan.getAttribute("is-space"))) {
        while (whichLetter != 0) {
          if ((document.querySelector(`span[data-char-num="${charnum}"]`)) != (null)) {
            charnum++
          } 
          startOfNextWord = document.querySelector(`span[data-char-num="${charnum}"]`)
          whichLetter = startOfNextWord.getAttribute("word-char-num")
        } 
      if (whichWord==(wordsDict.length-1)) { // If end of sentence
        const form = document.createElement('form');
        form.method = 'POST';
        form.action = '/';
  
        const formInput = document.createElement('input');
        input.type = 'hidden';
        input.name = 'data';
        input.value = JSON.stringify(wordsDict);

        form.appendChild(formInput);
        document.body.appendChild(form);
        form.submit();
      }
    } 
    console.log(charnum) 
  }})
})
</script>
{% endblock %}